* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  background-color: var(--OffBlack);
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 100vh;
  justify-content: center;
}
:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --OffBlack: hsl(0, 0%, 8%);
}
.socialmedia-card {
  background-color: var(--DarkGrey);
  border-radius: 1rem;
  padding: 20px;
  text-align: center;
  width: 400px;
}
.socialmedia-card img {
  border-radius: 3rem;
  height: auto;
  margin: 25px;
  width: 100px;
}
.offscreen {
  left: -10000px;
  position: absolute;
}
.socialmedia-card h1 {
  color: var(--White);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.socialmedia-card address {
  color: var(--Green);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
}
.socialmedia-card p {
  color: var(--White);
  margin: 30px 0px 10px;
}
.socialmedia-card a {
  background-color: var(--Grey);
  border-radius: 0.5rem;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin: 15px;
  padding: 13px;
  text-decoration: none;
}
.socialmedia-card a:hover {
  background-color: var(--Green);
  color: var(--OffBlack);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 10px;
  color: var(--White);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 375px) {
  .socialmedia-card {
    max-width: 355px;
  }
}
@media (max-width: 320px) {
  .socialmedia-card {
    max-width: 300px;
  }
}
@media (max-width: 280px) {
  .socialmedia-card {
    max-width: 260px;
  }
}
